.queue{
    height:50px;
    width: 150px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    background: transparent;
    color: white;
}
#dialogoverlay{
    display: block;
    width: 400px;
    height:200px;
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background:  linear-gradient(225deg,rgba(62, 0, 72, 0.5) 0%,
    rgba(59, 0, 86, 0.5) 50%, rgba(220, 25, 178, 0.5)   100%);
    box-shadow: 0px 10px 20px 10px black;
    z-index: 5;
    transition: all 0.60s ease;
    border:5px dashed rgba(255, 255, 255, 0.5);
    
}
#dialogoverlay #finish{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
}
#pass{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
    width: 150px;
    background:rgb(219, 110, 255);
    border-radius:999px ;
    border: 0;
    color: white;
    box-shadow: 0px 10px 30px 4px rgb(50, 0, 66);
}
#finish{
    width: 80%;
    font-size: 30px;
    display: flex;
    justify-content: center;
}